html {
  box-sizing: border-box;
  background-color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  background-color: #739538;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;

}

.first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "pic pic2 text link"
  "pic pic2 text link"
}

.pics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 6rem;
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0.5em;
  border-radius: 5px;

}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: #739538;
  color: #fff;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */




/* Add media query for desktop */
